@font-face {
  font-family: "ProximaNovaBold";
  src: url('../fonts/ProximaNovaBold.otf');
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaNovaLight";
  src: url('../fonts/ProximaNovaLight.otf');
}
body {
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 14px;
}
ul {
  list-style: none;
}
* {
  outline: none;
}
button:hover {
  background-color: #e65d00;
}
.header {
  background-color: #ff6700;
}
.header-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-menu-item {
  display: inline-block;
  height: 100%;
}
.header-menu-item a {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-right: 1.4rem;
}
.header-number {
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 40px;
}
.logo-row {
  position: relative;
  padding: 10px;
  padding-bottom: 0;
}
.logo-row .xiaomi-logo {
  position: absolute;
  display: inline-block;
  margin-right: 15px;
  width: 45px;
}
.logo-row-text {
  display: inline-block;
  color: #ff6700;
  text-transform: uppercase;
  margin-left: 55px;
  margin-top: 5px;
}
.logo-row-btn {
  padding: 1.2rem 2rem;
  background-color: #eb5f00;
  border: none;
  border-bottom: 3px solid #cc5200;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 7px;
}
.logo-row-wrap {
  text-align: center;
}
.range {
  background-color: #323940;
}
.range-list {
  height: 130px;
  padding: 0;
  margin: 0;
}
.range-list a {
  text-decoration: none;
}
.range-list a:hover {
  color: #ffffff;
}
.range-list-item {
  position: relative;
  display: inline-block;
  width: 12%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.range-list-item:hover {
  background-color: #e65d00;
}
.range-list-item:hover .range-text {
  color: #ffffff;
}
.range-text {
  display: block;
  height: 30%;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #999c9e;
}
.range-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.range-img-wrap {
  display: inline-block;
  width: 100%;
  height: 72%;
}
.range .active {
  background-color: #ff6700;
}
.range .active .range-text {
  color: #ffffff;
}
.range .img-1 {
  width: 40%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.range .img-2 {
  width: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.range .img-3 {
  width: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.range .img-4 {
  width: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}
.range .img-5 {
  width: 35%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.range .img-6 {
  width: 35%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.range .img-7 {
  width: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.range .img-8 {
  width: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}
.hiro {
  padding-top: 40px;
}
.hiro-item {
  font-size: 3rem;
  font-weight: 700;
}
.hiro-vnal {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  color: #66cc66;
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 10px;
  padding: 2px 10px;
  line-height: 20px;
  border: 2px solid #66cc66;
}
.hiro-title {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.88;
  margin: 0;
  margin-bottom: 10px;
}
.hiro-select {
  color: #999c9e;
  display: block;
}
.hiro-white {
  display: inline-block;
  margin-top: 5px;
  color: #ff6700;
}
.hiro-black {
  display: inline-block;
  margin-top: 5px;
  color: #999c9e;
}
.hiro-old-price {
  display: inline-block;
  margin-top: 20px;
  font-size: 2.4rem;
  text-decoration: line-through;
}
.hiro-new-price {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
}
.hiro-btn {
  background-color: #e65d00;
  border: none;
  color: #ffffff;
  padding: 15px 65px;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 7px;
  border-bottom: 3px solid #cc5200;
}
.hiro-lower {
  color: #ff6700;
  line-height: 0.9;
  border-bottom: 1px dotted #ff6700;
}
.hiro-lower:hover {
  color: #ff6700;
  text-decoration: none;
}
.hiro-advant1 {
  display: inline-block;
  color: #999c9e;
  font-size: 1.4rem;
}
.hiro-advant1::before {
  content: "";
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  display: inline-block;
  width: 50px;
  height: 30px;
  background: #ffffff url(../img/ninebot/header+section-1/mini1.png) center no-repeat;
  background-size: 40%;
}
.hiro-advant2 {
  display: inline-block;
  color: #999c9e;
  font-size: 1.4rem;
}
.hiro-advant2::before {
  content: "";
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  display: inline-block;
  width: 50px;
  height: 30px;
  background: #ffffff url(../img/ninebot/header+section-1/mini2.png) center no-repeat;
  background-size: 35%;
}
.hiro-advant3 {
  display: inline-block;
  color: #999c9e;
  font-size: 1.4rem;
}
.hiro-advant3::before {
  content: "";
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  display: inline-block;
  width: 50px;
  height: 30px;
  background: #ffffff url(../img/ninebot/header+section-1/mini3.png) center no-repeat;
  background-size: 40%;
}
.hiro-rait {
  margin-top: 70px;
}
.hiro-big {
  position: absolute;
  left: -50%;
  top: 10%;
  width: 130%;
}
.complect {
  padding: 100px 0;
}
.complect-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6rem;
}
.complect-text {
  width: 40%;
  font-size: 1.6rem;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
.film_roll_pager {
  display: none;
}
.film_roll_child {
  margin: 0 10px;
}
.film_roll_child:not(.active) {
  opacity: .6;
}
.film_roll_next {
  background: url(../img/ninebot/complect/next.png) no-repeat !important;
  width: 72px !important;
  height: 72px !important;
  border: none !important;
  border-radius: 0 !important;
  color: transparent !important;
  right: 10.5% !important;
  opacity: 1 !important;
}
.film_roll_prev {
  background: url(../img/ninebot/complect/prev.png) no-repeat !important;
  width: 72px !important;
  height: 72px !important;
  border: none !important;
  border-radius: 0 !important;
  color: transparent !important;
  left: 9.2% !important;
  opacity: 1 !important;
}
.charact {
  background: #ffffff url(../img/ninebot/charact/overall-summary-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
}
.charact-wrapper {
  position: absolute;
  bottom: 0;
}
.charact-item {
  text-align: center;
}
.charact-title {
  font-size: 5rem;
  font-weight: 700;
  color: #323940;
  text-align: center;
  text-transform: uppercase;
}
.charact .red-text {
  text-align: center;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #ff6700;
}
.charact-text {
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 1.6rem;
  margin-bottom: 40px;
  color: #323940;
}
#film_roll_two {
  margin-top: 30px;
}
.compare-title {
  font-size: 5rem;
  font-weight: 700;
  color: #323940;
  text-align: center;
  text-transform: uppercase;
}
.compare-text {
  text-align: center;
  margin: auto;
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.compare .table tr > td:first-child {
  border-left: 2px solid #ff6700;
  border-right: 2px solid #ff6700;
}
.compare .table .top-line {
  vertical-align: bottom;
  border: none;
}
.compare .table .top-line-first {
  border-top: 2px solid #ff6700;
}
.compare .table .top-model {
  border: none;
  font-size: 2rem;
  font-weight: 700;
}
.compare .table .red-sub {
  color: #ff6700;
  font-size: 2rem;
  padding-top: 20px;
  border: none;
}
.compare .table .red-sub-far {
  color: #ff6700;
  font-size: 2rem;
  padding-top: 20px;
  border-right: 0 solid #ffffff !important;
  border-top: 0 solid #ffffff !important;
}
.compare .table .simple-text {
  font-size: 1.8rem;
  font-weight: 700;
  border-top: 2px solid #cdcfd0;
}
.compare .table .cost {
  border: none;
  padding-top: 40px;
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
}
.compare .table .buy {
  text-align: center;
  border: none;
  padding-bottom: 20px;
}
.compare .table .buy-first {
  border-bottom: 2px solid #ff6700;
  padding-top: 0;
}
.compare .table .buy button {
  padding: 1rem 4rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  border: none;
  background-color: #e65d00;
  border-radius: 7px;
  border-bottom: 3px solid #cc5200;
}
.compare .table .buy button:hover {
  background-color: #cc5200;
}
.compare .table .buy a {
  padding: 1rem 4rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  border: none;
  background-color: #e65d00;
  border-radius: 7px;
  border-bottom: 3px solid #cc5200;
}
.compare .table .buy a:hover {
  background-color: #cc5200;
  text-decoration: none;
}
.howride {
  background-color: #000;
  text-align: center;
  padding: 50px 0;
}
.howride-title {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 700;
}
.howride-text {
  width: 80%;
  margin: auto;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 40px;
  margin-top: 40px;
}
.howride-img {
  width: 40%;
  height: 180px;
}
.rideall {
  padding: 50px 0;
  text-align: center;
}
.rideall-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.rideall-text {
  font-size: 1.6rem;
  width: 70%;
  margin: auto;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
}
.rideall-img-big {
  width: 100%;
}
.light {
  background: #ffffff url(../img/ninebot/light/bg.jpg) center no-repeat;
  text-align: center;
  color: #ffffff;
  padding: 50px 0 300px;
}
.light-title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.light-text {
  font-size: 1.6rem;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.fast {
  background: #ffffff url(../img/ninebot/fast/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 200px 0;
}
.fast-title {
  font-size: 6rem;
  color: #323940;
  text-transform: uppercase;
  font-weight: 700;
}
.fast-img {
  margin-bottom: 15px;
}
.fast-text {
  width: 90%;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.fast-text-red {
  display: inline-block;
  color: #ff6700;
  font-size: 1.4rem;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff6700;
}
.test {
  background: #ffffff url(../img/ninebot/test/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 40px 0;
}
.form-block {
  width: 100%;
  border: 5px solid #ff6700;
  padding: 30px;
  color: #ffffff;
}
.form-block-title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.form-block-text {
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.form-block .form-own input {
  display: inline-block;
  background-color: transparent;
  border: none;
  height: 40px;
  font-size: 2.4rem;
  margin-bottom: 20px;
  width: 330px;
  color: #ffffff;
  border-bottom: 1px solid #999c9e;
}
.form-block .form-own input::-webkit-input-placeholder {
  color: #999c9e;
}
.form-block .form-own input:-ms-input-placeholder {
  color: #999c9e;
}
.form-block .form-own input::-ms-input-placeholder {
  color: #999c9e;
}
.form-block .form-own input::placeholder {
  color: #999c9e;
}
.form-block .form-own button {
  display: inline-block;
  width: 330px;
  padding: 20px 30px;
  background-color: #ff6700;
  border: none;
  border-bottom: 3px solid #cc5200;
  font-size: 2rem;
  border-radius: 7px;
  text-transform: uppercase;
}
.form-block .form-own button:hover {
  background-color: #cc5200;
}
.charge {
  background: #ffffff url(../img/ninebot/charge/bg.jpg) center right no-repeat;
  padding: 200px 0;
}
.charge-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.charge-text {
  font-size: 2rem;
}
.smart {
  text-align: center;
  background-color: #000;
  color: #ffffff;
  padding: 50px 0;
}
.smart-title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.smart-text {
  font-size: 1.8rem;
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 10px;
}
.smart-hand {
  position: relative;
  bottom: -50px;
}
.download-video {
  padding: 50px 0;
}
.download-video .form-block-title {
  color: #323940;
  width: 70%;
  font-size: 5rem;
}
.download-video .form-block-text {
  color: #000;
  width: 40%;
}
.download-video .form-own input {
  color: #323940;
  margin-bottom: 40px;
}
.download-video-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: -40%;
}
.wheel {
  background: #ffffff url(../img/ninebot/wheel/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 200px 0;
}
.wheel-title {
  font-size: 5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.wheel-text {
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.wheel .red-text {
  color: #ff6700;
  margin-top: 10px;
}
.buyhiro-big-img {
  width: 100%;
}
.buyhiro {
  padding: 50px 0;
}
.buyhiro-subtitle {
  font-size: 4rem;
  font-weight: 700;
}
.buyhiro-title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.buyhiro-text {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.buyhiro .row {
  margin-bottom: 30px;
}
.buyhiro .select-color {
  display: inline-block;
  color: #999c9e;
}
.buyhiro .pdf {
  position: absolute;
  top: 65%;
}
.buyhiro .download-instruction {
  display: inline-block;
  padding-left: 40px;
  position: relative;
  top: 20px;
  color: #ff6700;
  text-decoration: underline;
}
.buyhiro .old-price {
  text-decoration: line-through;
  font-size: 3rem;
}
.buyhiro .new-price {
  font-size: 4rem;
  font-weight: 700;
}
.buyhiro .buy-btn {
  padding: 8px 60px;
  font-size: 3rem;
  color: #ffffff;
  background-color: #ff6700;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buyhiro .buy-btn:hover {
  background-color: #cc5200;
}
.buyhiro .low-price {
  color: #ff6700;
  text-decoration: underline;
  margin-left: 8px;
}
.easy-to-use {
  position: relative;
  z-index: 100;
  background: #ffffff url(../img/ninebot/easy-to-use/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 300px 0px 600px;
}
.easy-to-use-title {
  color: #ffffff;
  font-size: 5rem;
  text-transform: uppercase;
}
.easy-to-use-text {
  color: #ffffff;
  font-size: 1.8rem;
}
.garant {
  z-index: 10;
  position: relative;
  padding: 200px 0;
}
.garant-title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.garant-text {
  font-size: 1.6rem;
}
.garant-img {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 50%;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.security {
  background: #000000 url(../img/ninebot/security/bg.png) center no-repeat;
  padding: 50px 0;
  background-size: cover;
}
.security .form-block-title {
  font-size: 5rem;
}
.download-instruction {
  position: relative;
  padding: 20px 0;
}
.download-instruction-img {
  width: 100%;
}
.download-instruction-item {
  position: absolute;
  top: 60%;
  left: 47.5%;
  height: 50px;
}
.download-instruction-item .pdf {
  display: inline-block;
  width: 35px;
}
.download-instruction-item .link {
  display: inline-block;
  position: relative;
  top: 8px;
  font-size: 1.6rem;
  line-height: 16px;
  color: #ff6700;
  text-decoration: underline;
}
.off-distr {
  background-color: #e8e8e8;
  padding: 50px 0;
}
.off-distr-block {
  position: relative;
}
.off-distr-block-hover {
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.off-distr-block-hover:hover {
  opacity: 1;
}
.off-distr h2 {
  margin-top: 100px;
  font-size: 5rem;
  text-transform: uppercase;
  font-size: 700;
}
.off-distr-text {
  font-size: 1.8rem;
}
.offer {
  text-align: center;
  padding: 30px 0;
}
.offer-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.offer-text {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 1.8rem;
}
.offer-img {
  display: inline-block;
  width: 70%;
  margin: auto;
}
.offer-img-wrap {
  position: relative;
  height: 150px;
}
.offer-model {
  display: inline-block;
  margin-top: 15px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
.offer-price {
  font-size: 2.2rem;
}
.offer-btn {
  padding: 10px 35px;
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #d3d3d3;
  color: #d3d3d3;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 5px;
}
.offer-btn:hover {
  background-color: #ff6700;
  border: none;
  border-bottom: 2px solid #cc5200;
  color: #ffffff;
}
.offer-item {
  margin-bottom: 20px;
  height: 360px;
}
.offer .img-e {
  width: 140px;
}
.offer .img-acces {
  position: absolute;
  top: 50%;
  left: 10%;
}
.offer-form {
  display: inline-block;
  width: 100%;
  border: 3px solid #ff6700;
  height: 380px;
}
.offer-form input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid#d3d3d3;
  margin-bottom: 10px;
}
.offer-form input::-webkit-input-placeholder {
  color: #999c9e;
}
.offer-form input:-ms-input-placeholder {
  color: #999c9e;
}
.offer-form input::-ms-input-placeholder {
  color: #999c9e;
}
.offer-form input::placeholder {
  color: #999c9e;
}
.offer-form-title {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 700;
}
.offer-form-text {
  font-size: 1.6rem;
}
.offer-form-btn {
  padding: 10px 35px;
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #d3d3d3;
  color: #d3d3d3;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 5px;
}
.offer-form-btn:hover {
  background-color: #ff6700;
  border: none;
  border-bottom: 2px solid #cc5200;
  color: #ffffff;
}
.footer {
  background-color: #323940;
  color: #ffffff;
  padding: 20px;
  font-size: 1.6rem;
}
.footer span {
  margin-left: 40px;
}
@media screen and (max-width: 1000px) {
  .charact-text {
    width: 80%;
  }
}
